.client-container {
  width: 98.78vw;
  height: 25vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: -0.5rem;
  padding: 0.5rem 0;
}

.client-p {
  font-size: 1.6rem;
  font-weight: 600;
}

.client-img {
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.client-img img {
  height: 2.2rem;
  width: 2.2rem;
}
