.community-container {
  width: 98.78vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.community-content {
  width: 98vw;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.community-card {
  width: 18vw;
  height: 30vh;
  padding: 0.8rem;
  border-radius: 6px;
  box-shadow: -3px 3px 3px 0px #abbed133, 3px 3px 3px 0px #abbed133,
    0px 3px 3px 0px #abbed133;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.community-card img {
  height: 2.5rem;
  width: 2.9rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-align: center;
}

.card-p {
  font-size: 0.8rem;
  text-align: center;
  color: #717171;
}

@media (max-width: 750px) {
  .community-container {
    width: 100vw;
    height: auto;
  }

  .community-content {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }

  .community-card {
    width: 80vw;
    height: auto;
    margin: 2vh 0.8rem;
  }
}
