.hero-container {
  box-sizing: border-box;
  width: 98.78vw;
  height: 65vh;
  background: #f5f7fa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10vw;
}

.hero-content {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.p-main {
  font-size: 3rem;
  font-weight: 600;
}

.p-green {
  color: #4caf4f;
  font-size: 3rem;
  font-weight: 600;
}

.sub-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #717171;
}

.hero-btn {
  background: #4caf4f;
  color: white;
  border: none;
  border-radius: 3px;
  width: 8vw;
  height: 2.25rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  height: 48vh;
  width: 23vw;
}

.hero-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
}

.hero-dot .dot {
  width: 2rem;
  height: 0.5rem;
}

@media (max-width: 850px) {
  .hero-container {
    height: auto;
    padding-top: 25vh;
    padding-left: 10vw;
    flex-direction: column;
  }

  .hero-content {
    height: 40vh;
    width: 80vw;
  }

  .hero-image img {
    height: 30vh;
    width: 40vw;
  }

  .hero-btn {
    width: 8rem;
  }
}

@media (max-width: 400px) {
  .hero-container {
    height: auto;
    padding-top: 50vh;
    flex-direction: column;
  }
}


