.nav-container {
  box-sizing: border-box;
  padding: 0 10vw;
  width: 100vw;
  margin: 0;
  height: 10vh;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: fixed;
  z-index: 10;
}

.heading-span {
  color: #4caf4f;
}

.nav-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-opt {
  background: white;
  border: none;
  width: 8vw;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.nav-img {
  height: 1rem;
  width: 1rem;
  z-index: 1;
  margin: 0.3rem;
}

.nav-btn {
  background: #4caf4f;
  color: white;
  width: 13vw;
  border-radius: 3px;
  
}

@media (max-width:1300px) {
  .nav-container {
    padding: 2vh 2vw;
    height: auto;
    width: 98vw;
  }

  .nav-container > div:last-child {
    width: 70vw;
  }
}
@media (max-width: 730px) {
  .nav-container {
    width: 95vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-container > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-btn {
    width: 10rem;
  }
}

@media (max-width: 400px) {
  .nav-container > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-opt {
    width: 60vw;
    justify-content: flex-start;
  
  }

  .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
